/* carbon.css */

:root
{
  --color-0: #ffffff;
  --color-1: #f5f5f5;
  --color-2: #e8e8e8;
  --color-3: #d6d6d6;
  --color-4: #b8b8b8;
  --color-5: #969696;
  --color-6: #737373;
  --color-7: #525252;
  --color-8: #2e2e2e;
  --color-9: #000000;

  --surface-0: #000000;
  --surface-1: #2e2e2e;
  --surface-2: #525252;
  --surface-3: #737373;
  --surface-4: #969696;
  --surface-5: #b8b8b8;
  --surface-6: #d6d6d6;
  --surface-7: #e8e8e8;
  --surface-8: #f5f5f5;
  --surface-9: #ffffff;

  --accent-color: #f88;
  --accent-text-color: var(--color-0);
  --text-color: var(--color-2);
  --selection-text-color: var(--color-0);
  --hover-text-color: var(--color-0);
  --link-text-color: #bbf;
  --disabled-text-color: var(--color-5);
  --readonly-text-color: var(--color-4);
  --highlighted-text-color: #202020;
  --label-text-color: var(--color-4);
  --field-text-color: var(--text-color);
  --button-text-color: var(--text-color);

  --surface-ground: var(--surface-2);
  --surface-header: var(--surface-3);
  --surface-field: var(--surface-3);
  --surface-button: var(--surface-field);
  --surface-selection: var(--surface-3);
  --surface-highlighted: #80B040;
  --surface-change: #604040;
  --surface-hover: #606060;
  --surface-field-hover: #808080;

  --info-color: #88f;
  --ok-color: #0f0;
  --warn-color: #ff0;
  --error-color: #f55;
  --danger-color: #f22;
  --copy-color: #0e0;
  --cut-color: #f66;

  --number-color: #0f8;
  --string-color: #88f;
  --boolean-color: #f80;
  --comment-color: #a0a0a0;

  --focus-shadow: 0 0 0 2px rgba(255, 220, 220, 0.5);

  --box-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.6);
  --box-shadow-2: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);

  --progress-bar-background: var(--surface-4);
}

.container::before
{
  filter: invert(1);
}
