<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <context-param>
    <param-name>bimrocket.beans</param-name>
    <param-value>userStore,bcfDao</param-value>
  </context-param>

  <context-param>
    <param-name>userStore.class</param-name>
    <param-value>org.bimrocket.security.LdapUserStore</param-value>
  </context-param>
  <context-param>
    <param-name>userStore.ldapUrl</param-name>
    <param-value>ldap://dc1.santfeliu.local</param-value>
  </context-param>
  <context-param>
    <param-name>userStore.domain</param-name>
    <param-value>santfeliu.local</param-value>
  </context-param>
  <context-param>
    <param-name>userStore.searchBase</param-name>
    <param-value>DC=santfeliu,DC=local</param-value>
  </context-param>

  <context-param>
    <param-name>bcfDao.class</param-name>
    <param-value>org.bimrocket.service.bcf.dao.BcfOrientDaoConnectionFactory</param-value>
  </context-param>
  <context-param>
    <param-name>bcfDao.url</param-name>
    <param-value>remote:localhost/bimdb</param-value>
  </context-param>
  <context-param>
    <param-name>bcfDao.username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>bcfDao.password</param-name>
    <param-value>orientdb</param-value>
  </context-param>

  <context-param>
    <param-name>bcf.mail.createTopic.subject</param-name>
    <param-value>${project.name}#${index}: ${title} [${priority}]</param-value>
  </context-param>

  <context-param>
    <param-name>bcf.mail.createTopic.message</param-name>
    <param-value>${description}</param-value>
  </context-param>

  <context-param>
    <param-name>cloudfs.baseProperty</param-name>
    <param-value>user.home</param-value>
  </context-param>
  <context-param>
    <param-name>cloudfs.baseDirectory</param-name>
    <param-value>cloudfs</param-value>
  </context-param>
  <context-param>
    <param-name>cloudfs.directories</param-name>
    <param-value>models,scripts</param-value>
  </context-param>

  <context-param>
    <param-name>print.baseProperty</param-name>
    <param-value>user.home</param-value>
  </context-param>
  <context-param>
    <param-name>print.baseDirectory</param-name>
    <param-value>cloudfs</param-value>
  </context-param>

  <context-param>
    <param-name>proxy.validDomains</param-name>
    <param-value>https://gis.santfeliu.cat/</param-value>
  </context-param>

  <context-param>
    <param-name>mail.smtp.from</param-name>
    <param-value>admin@bimrocket.org</param-value>
  </context-param>

  <context-param>
    <param-name>mail.smtp.contenttype</param-name>
    <param-value>text/plain;charset=ISO-8859-1</param-value>
  </context-param>

  <context-param>
    <param-name>mail.smtp.host</param-name>
    <param-value>helios</param-value>
  </context-param>

  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jakarta.ws.rs.Application</param-name>
      <param-value>org.bimrocket.BimRocketApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
</web-app>
