/* bsdd panel */

.bsdd-panel
{
  text-align: left;
}

.bsdd-panel a
{
  text-decoration: none;
}

.bsdd-panel > .body
{
  padding: 4px;
}

.bsdd-panel > .body .loading
{
  display: block;
  text-align: center;
}

.bsdd-panel > .body .loading:after
{
  content: " ";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: red rgb(240, 180, 180) red rgb(240, 180, 180);
  animation: progress-undeterminate 1.2s linear infinite;
}

.bsdd-panel > .body .tab_panel ul.items
{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.bsdd-panel > .body .tab_panel ul.items > li
{
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius-1);
  padding: 2px;
  overflow: hidden;
  margin-top:0;
  margin-bottom: 2px;
  word-break: break-word;
}

.bsdd-panel > .body .tab_panel ul.items > li:hover
{
  border-color: #808080;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.main
{
  display: flex;
  align-items: center;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.main::before
{
  content: "";
  display: block;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  background-color: var(--text-color);
  mask-position: center center;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 4px;
  flex-shrink: 0;
}

.bsdd-panel > .body .tab_panel ul.items.dictionaries > li > div.main::before
{
  mask-image: url(../icons/bsdd.svg#dictionary);
}

.bsdd-panel > .body .tab_panel ul.items.classes > li > div.main::before
{
  mask-image: url(../icons/bsdd.svg#class);
}

.bsdd-panel > .body .tab_panel ul.items > li > div.detail
{
  max-height: 0px;
  transition: max-height 0.2s;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.detail ul
{
  padding-left: 20px;
  list-style-type: circle;
}

.bsdd-panel > .body .tab_panel ul.items > li.expanded > div.detail
{
  max-height: 150px;
  margin-left: 8px;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.main a
{
  flex-grow: 1;
  flex-shrink: 1;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.main button
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  margin-left: 4px;
  transition: transform 0.2s;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.main button::before
{
  content: "";
  display: block;
  mask-image: url("../icons/bsdd.svg#chevron");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  background-color: var(--text-color);
  mask-position: center center;
  width: 20px;
  height: 20px;
}

.bsdd-panel > .body .tab_panel ul.items > li > div.main button:focus
{
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-1);
}

.bsdd-panel > .body .tab_panel ul.items > li.expanded > div.main button
{
  transform: rotate(180deg);
}

.bsdd-panel > .body .tab_panel ul.items > li.selected
{
  background-color: var(--surface-selection);
  color: var(--selection-text-color);
}

.bsdd-panel > .body .tab_panel div.header
{
  margin-top:6px;
  margin-bottom:2px;
  text-align: left;
}

.bsdd-panel > .body .tab_panel div.field-flex
{
  margin-top: 3px;
  margin-bottom: 3px;
}

.bsdd-panel > .body .tab_panel div.field-flex label
{
  white-space: nowrap;
}

.bsdd-panel label,
.bsdd-panel a
{
  user-select: none;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel > .form > .header
{
  flex-grow: 0;
  text-align: left;
  margin: 0;
  padding: 4px;
  word-break: break-all;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel > .form > .properties
{
  overflow: auto;
  text-align: left;
  flex-grow: 1;
  padding: 4px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset
{
  text-align: left;
  margin-top: 12px;
  margin-bottom: 4px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset .header
{
  display: flex;
  flex-direction: row;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset .header > div
{
  flex-grow: 1;
  font-weight: bold;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset .header > a
{
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  margin-left: 4px;
  background-image: url(images/chevron_down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset.expanded .header > a
{
  transform: rotate(180deg);
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset .header > a::before
{
  content: "\00a0";
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset .body
{
  display: none;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .pset.expanded .body
{
  display: flex;
  flex-direction: column;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .footer
{
  flex-grow: 0;
  text-align: center;
  padding: 4px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property
{
  display: block;
  text-align: left;
  margin-top:3px;
  margin-bottom: 3px;
  border-radius: var(--border-radius-1);
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 3px;
  padding: 4px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property.changed
{
  background-color: var(--surface-change);
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .name
{
  display: block;
  word-break: break-word;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .value
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .value .control
{
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 10px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .help .attr
{
  display: flex;
  margin-top: 2px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .help .attr > div
{
  flex-grow: 1;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .help .attr > a
{
  flex-grow: 0;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .help .desc
{
  margin-top: 4px;
  max-height: 0;
  transition: max-height 0.2s;
  overflow: hidden;
}

.bsdd-panel .tabbed_pane > .body .tab_panel .form .properties .property .help a.desc_button
{
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  margin-left: 4px;
  background-image: url(images/chevron_down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  width: 16px;
  height: 16px;
}

.bsdd-panel .tabbed_pane > .body .tab_panel .form .properties .property .help a.desc_button::before
{
  content: "\00a0";
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .help.expanded .desc
{
  max-height: 200px;
}

.bsdd-panel .tabbed_pane > .body > .tab_panel .form .properties .property .help.expanded .attr > a
{
  transform: rotate(180deg);
}

