/* 
    Created on : 14-sep-2019, 9:07:32
    Author     : realor
*/

.container
{
  position: absolute;
  top:68px;
  bottom:0;
  left:0;
  right:0;
}

@keyframes fade_out_logo
{
  0% {opacity: 1}
  100% {opacity: 0; visibility: hidden; }
}

@keyframes fade_in_logo
{
  0% {opacity: 0; visibility: visible; }
  100% {opacity: 1; }
}

.logo_panel
{
  z-index: 1000;
  background: black;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo_panel > img
{
  width: 400px;
  max-width: 80%;  
}

.logo_panel.visible
{
  animation: fade_in_logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.logo_panel.hidden
{
  animation: fade_out_logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

header
{
}

header > a.logo_link
{
  background-color: #B00000;
  height: 28px;
  display: inline-block;
  width: 140px;
  padding-top: 0;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

header > a.logo_link > img
{
  height: 28px;
}

header nav
{
  position: absolute;
  top: 0;
  left: 140px;
  right:0;
  bottom:0;
  background-color: #254441;
}

.toolbar
{
  position:absolute;
  top:28px;
  left:0px;
  right:0px;
  height: 40px;
  text-align: left;
  background-color: #f0f0f0;
  overflow: hidden;
}
