/*
    Created on : 14-sep-2019, 9:07:32
    Author     : realor
*/

.container
{
  position: absolute;
  top:68px;
  bottom:0;
  left:0;
  right:0;
  user-select: none;
}

.container *
{
  user-select: text;
}

@keyframes flash
{
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}

@keyframes fade_out_logo
{
  0% {opacity: 1}
  100% {opacity: 0; visibility: hidden; }
}

@keyframes fade_in_logo
{
  0% {opacity: 0; visibility: visible; }
  100% {opacity: 1; }
}

@keyframes text_fade
{
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.logo_panel
{
  z-index: 20000;
  background-image: linear-gradient(#500000, black);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo_panel > img
{
  width: 400px;
  max-width: 80%;
}

.logo_panel > .info
{
  color: white;
  min-height: 16px;
}

.logo_panel > .info > .loading
{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 1s ease-out infinite alternate;
}

.logo_panel.show
{
  animation: fade_in_logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.logo_panel.hide
{
  animation: fade_out_logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.splash_panel
{
  z-index: 20000;
  background: black;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: white;
}

.splash_panel > div.fade
{
  color: white;
  font-size: 20px;
  animation-name: text_fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.splash_panel.show
{
  animation: fade_in_logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.splash_panel.hide
{
  animation: fade_out_logo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

header > a.logo_link
{
  background-color: #B00000;
  height: 28px;
  display: inline-block;
  width: 140px;
  padding-top: 0;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 8000;
  left: 0;
  top: 0;
  user-select: none;
}

header > a.logo_link > img
{
  height: 28px;
}

header nav
{
  position: absolute;
  top: 0;
  left: 140px;
  right:0;
  bottom:0;
  background-color: #254441;
}

.toolbar
{
  position:absolute;
  top:28px;
  left:0px;
  right:0px;
  height: 40px;
  text-align: left;
  background-color: #f0f0f0;
  overflow: hidden;
}