/* common.css */

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

body
{
  font-family: Montserrat, Arial;
  font-size: 12px;
  background-color: black;
  margin: 0px;
  overflow: hidden;
  color:#606060;
}

input, button, select, textarea
{
  font-family: Montserrat, Arial;
  font-size: 12px;
  padding:2px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

input:focus, button:focus, select:focus, textarea:focus
{
  outline: none;
  box-shadow: 0 0 0 2px rgba(228, 30, 30, 0.3);
  transition: box-shadow 0.4s ease;
}

button
{
  background-color: #f0f0f0;
  color:#404040;
  border: 1px solid #ff8080;
  border-radius: 3px;
  margin: 3px;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.2);
}

button:disabled
{
  outline: none;
  color: #c0c0c0;
  border: 1px solid #ffc0c0;
}

button:disabled:hover
{
  background-color: #f0f0f0;
}

button:hover
{
  background-color: #ffd8d8;
}

button:active
{
  box-shadow:none;
  outline: none;
}

select
{
  background-color: white;
}

input[readonly]
{
  background: #f0f0f0;
  color: #a0a0a0;
}

fieldset
{
  padding: 6px;
  display: inline-block;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

fieldset > label
{
  vertical-align: middle;
  text-align: left;
  display: inline-block;
}

fieldset > label > input
{
  vertical-align: text-bottom;
}

fieldset > label > span
{
  vertical-align: middle;
}

/* selection */

::-moz-selection,
select::-moz-selection
{
  color: #200000;
  background: #ffb0b0;
}

::selection,
select::selection
{
  color: #200000;
  background: #ffb0b0;
}

/* scrollbars */

div, ul
{
  scrollbar-width: thin;
  scrollbar-color: #ffb0b0 transparent;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track
{
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  background: #ffb0b0;
  border-radius: 0;
}

/* input range */

input[type=range]
{
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb
{
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb
{
  -webkit-appearance: none;
  border: 1px solid rgb(100, 100, 100);
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background: rgba(220, 220, 220, 0.8);
  cursor: pointer;
  box-shadow: 0px 0px 2px #a0a0a0;
}

input[type=range]::-moz-range-thumb
{
  border: 1px solid rgb(100, 100, 100);
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background: rgba(220, 220, 220, 0.8);
  cursor: pointer;
  box-shadow: 0px 0px 2px #a0a0a0;
}

input[type=range]::-webkit-slider-runnable-track
{
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.1);
}

input[type=range]::-moz-range-track
{
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.1);
}

div.code_editor
{
  position: relative;
  height: 100px;
}

div.code_editor > label
{
  position: absolute;
  height: 20px;
  width: 100%;
}

div.code_editor > .cm-editor-holder
{
  position: absolute;
  top: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  font-size: 14px;
  font-family: monospace;
  height: calc(100% - 20px);
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

table.data
{
  padding: 0;
  border: 1px solid #c0c0c0;
  box-sizing:border-box;
  border-collapse: collapse;
  width:calc(100% - 8px);
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

table.data > thead > tr
{
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff0f0;
}

table.data > tbody > tr
{
  border-bottom: 1px solid #d0d0d0;
}

table.data > tbody > tr:hover
{
  background-color: #f0f0f0;
}

/* animation */

@keyframes item_hover
{
  from {background-color: transparent;}
  to {background-color: #C0C0C0;color: black;}
}

@keyframes fade_in
{
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes fade_out
{
  from {opacity:1;}
  to {opacity:0;}
}
