/* Dialog */

.dialog
{
  border: 1px solid gray;
  background: white;
  z-index: 10001;
  -webkit-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.63);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 98%;
  max-height: 98%;
  animation: fade_in_dialog;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dialog_curtain
{
  z-index: 10000;
  opacity: 0;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: gray;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.63);
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  animation: fade_in_curtain;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dialog > .header
{
  position: absolute;
  top:0;
  left:0;
  right:0;
  height: 24px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.dialog .body
{
  position: absolute;
  top:25px;
  left:0;
  right:0;
  bottom:32px;
  overflow:auto;
  padding: 6px;
}

.dialog > .footer
{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height: 32px;
  display: flex;
  border-top: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.dialog .body > div
{
  margin-top: 4px;
}

.dialog .body > div > input[type='text'],
.dialog .body > div > input[type='password']
{
  width:100%;
  box-sizing: border-box;
}

.dialog .body .text_field,
.dialog .body .select_field,
.dialog .body .radio_buttons
{
  width: 100%;
  box-sizing: border-box;
}

.dialog .body .select_field select
{
  border: 1px solid #C0C0C0;
  background-color: white;
  border-radius: 2px;
  padding: 2px 4px 2px 2px;
  width: 100%;
  box-sizing: border-box;
}

.dialog .body .list_field select
{
  -webkit-appearance:none;
  -moz-appearance: none;
  font-size: 14px;
  padding: 2px 4px 2px 4px;
  background: white;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
}

.dialog .body .text_field label,
.dialog .body .select_field label
{
  display: block;
}

.dialog .body .checkbox_field label,
.dialog .body .checkbox_field input
{
  vertical-align: middle;
}

.dialog .body div input,
.dialog .body div select
{
  margin-top:2px;
}

.dialog .body pre
{
  width: 100%;
  color: black;
  margin:0;
  box-sizing: border-box;
}

.dialog .body span.row
{
  display:block;
  text-align: left;
}

.dialog .body .radio_buttons > input[type='radio']
{
  float: left;
  clear: both;
  line-height: 20px;
}

.dialog .body .radio_buttons > label
{
  float: left;
  line-height: 20px;
  margin-left: 2px;
}

.dialog .footer > button
{
  margin-left:4px;
  margin-right:4px;
}

.dialog .body.confirm,
.dialog .body.info,
.dialog .body.error
{
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.dialog .body.error span
{
  color: #C00000;
}

.dialog .body.confirm span
{
  color: #D00000;
}

.dialog input[type="text"]
{
  border: 1px solid #C0C0C0;
}

@keyframes fade_in_dialog
{
  0% {opacity: 0; visibility: visible; }
  100% {opacity: 1; }
}

@keyframes fade_in_curtain
{
  0% {opacity: 0; visibility: visible; }
  100% {opacity: 0.4; }
}