/* ifcdb panel */

.ifcdb_panel
{
  --labelWidth: 100px;

  overflow: auto;
  text-align: left;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.ifcdb_panel div > label
{
  margin-right: 2px;
}

.ifcdb_conn
{
  padding: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.ifcdb_panel > .tabbed_pane
{
  flex-grow: 1;
}

.ifcdb_service,
.ifcdb_modelid
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--labelWidth), max-content));
  align-items:center;
  margin-bottom: 2px;
}

.ifcdb_service select,
.ifcdb_modelid input
{
  box-sizing: border-box;
  max-width: 100%;
  width: 1000px;
}

.ifcdb_buttons
{
  text-align: center;
  padding: 4px;
}

.ifcdb_panel .tab_panel
{
  padding: 4px;
}

.ifcdb_command
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ifcdb_result
{
  border: 1px solid #c0c0c0;
  padding: 2px;
  font-family: monospace;
  font-size: 12px;
  user-select: text;
  flex-grow:1;
  min-height: 100px;
  overflow-x: auto;
}


