/* menu */

:root
{
  --menubar-mode: desktop;
  --menubar-menuitem-color: #ffffff;
  --menubar-background: #202020;
  --menu-background: #f0f0f0;
  --menu-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  --menuitem-color: #404040;
  --menuitem-horizontal-padding: 10px;
  --menuitem-vertical-padding: 4px;
  --menuitem-font-size: 14px;
  --menuitem-kbd-color: #808080;
  --menuitem-hover-background: rgba(128, 128, 128, 0.5);
  --menuitem-max-width: 240px;
  --focused-menuitem-color: #202020;
  --focused-menuitem-background: #ff8080;
  --focused-menuitem-kbd-color: #404040;
  --drop-menuitem-background: rgba(200, 200, 200, 0.8);
  --separator-color: rgba(128, 128, 128, 0.5);
  --separator-margin: 4px;
  --menu-border-color: #a0a0a0;
  --menu-border-width: 1px;
  --mobile-menubar-width: 260px;
  --mobile-menubar-top: var(--header-height);
  --mobile-menuitem-color: #f0f0f0;
  --mobile-scrollbar-color: #606060;
  --mobile-menuitem-padding: 8px;
  --mobile-focused-menuitem-color: #f8f8f8;
  --mobile-focused-menuitem-background: #a04040;
  --mobile-drop-menuitem-color: #fafafa;
  --mobile-drop-menuitem-background: #303030;
  --mobile-menu-padding: 20px;
  --mobile-menu-border-color: #505050;
  --mobile-separator-color: #505050;
  --expand-duration: 0.3s;
  --fade-duration: 0.2s;
  --transform-duration: 0.2s;
}

/* Menu common styles */

menu
{
  position: absolute;
  list-style: none;
  background-color: var(--menu-background);
  border: var(--menu-border-width) solid var(--menu-border-color);
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  box-shadow: var(--menu-box-shadow);
  width: auto;
  z-index: 8000;
  top: calc(var(--menu-border-width) * -1);
  contain: layout;
}

menu li
{
  display:block;
  width: auto;
  position: relative;
}

menu li > button
{
  display: flex;
  flex-direction: row;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  color: var(--menuitem-color);
  font-size: var(--menuitem-font-size);
  padding: var(--menuitem-vertical-padding) var(--menuitem-horizontal-padding);
  margin: 0;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  user-select: none;
  user-drag: none;
  max-width: var(--menuitem-max-width);
}

menu li > button > span
{
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

menu li > button > kbd.shortcut
{
  flex-grow: 0;
  font-size: 11px;
  color: var(--menuitem-kbd-color);
  margin-left: 6px;
  border: 1px solid var(--menuitem-kbd-color);
  border-radius: 4px;
  padding: 0 2px;
}

menu button:hover
{
  background-color: transparent;
}

menu li.menu.drop > button,
menu li.menu.drop > button:hover
{
  color: var(--focused-menuitem-color);
  background-color: var(--drop-menuitem-background);
}

menu li.back > button > i
{
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(images/expand.svg);
  width: 16px;
  height: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  transform: rotate(180deg);
}

menu button:focus,
menu li.menu.drop > button:focus
{
  color: var(--focused-menuitem-color);
  background-color: var(--focused-menuitem-background);
  outline: none;
  box-shadow: none;
}

menu button:focus kbd.shortcut
{
  color: var(--focused-menuitem-kbd-color);
  border-color: var(--focused-menuitem-kbd-color);
}

menu.back
{
  transition: transform var(--transform-duration) ease-in-out;
}

menu menu
{
  display: none;
  margin-left: 100%;
}

menu li.drop > menu
{
  display:block;
  animation: fade_in 0.3s;
}

menu li.menu > button > i
{
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(images/expand.svg);
  width: 16px;
  height: 16px;
  flex-grow: 0;
}

menu li.separator
{
  border-bottom: 1px solid var(--separator-color);
  margin-top: var(--separator-margin);
  margin-bottom: var(--separator-margin);
}

.menu_button
{
  display: none;
}

/* MenuBar styles */

menu.menubar
{
  box-shadow: none;
  border: 0;
  margin: 0;
  background-color: var(--menubar-background);
}

menu.menubar > li
{
  margin: 0px;
  display:inline-block;
}

menu.menubar > li > menu
{
  margin-left: 0%;
  top: 100%;
}

menu.menubar > li > button
{
  color: var(--menubar-menuitem-color);
}

menu.menubar > li > button:hover
{
  background-color: var(--menuitem-hover-background);
}

menu.menubar > li > button:focus
{
  color: var(--menuitem-color);
  background-color: var(--focused-menuitem-background);
}

menu.menubar > li.menu > button
{
  background-image: none;
  padding-right: var(--menuitem-horizontal-padding);
}

menu.menubar > li.menu > button > i
{
  display: none;
}

/* mobile mode rules */
@media all and (max-width : 950px)
{
  :root
  {
    --menubar-mode: mobile;
  }

  menu.menubar
  {
    position: absolute;
    margin: 0;
    padding: 0;
    top: var(--mobile-menubar-top);
    left: 0;
    height: calc(100% - var(--header-height));
    width: var(--mobile-menubar-width);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
    border: none;
    max-width: 100% !important;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--mobile-scrollbar-color) transparent;
    scrollbar-gutter: stable;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--fade-duration),
                opacity var(--fade-duration) linear;
  }

  menu.menubar li,
  menu.menubar menu
  {
    position: static;
    display: block;
    background-color: var(--menubar-background);
  }

  menu.menubar menu,
  menu.menubar menu menu
  {
    margin-left: 0;
    padding-left: var(--mobile-menu-padding);
    border: none;
    overflow: hidden;
  }

  menu.menubar li > menu
  {
    visibility: hidden;
    max-height: 0;
    animation: none;
    transition: max-height var(--expand-duration) ease-in-out,
                visibility var(--expand-duration) step-end;
  }

  menu.menubar li.drop > menu
  {
    display: block;
    visibility: visible;
    animation: none;
    transition: max-height var(--expand-duration) ease-in-out,
                visibility 0s;
  }

  menu.menubar li > button
  {
    color: var(--mobile-menuitem-color);
    padding-top: var(--mobile-menuitem-padding);
    padding-bottom: var(--mobile-menuitem-padding);
    max-width: 100%;
  }

  menu.menubar menu li button
  {
    border-left: 1px solid var(--mobile-menu-border-color);
  }

  menu.menubar li > button:hover
  {
    background-color: transparent;
  }

  menu.menubar li.menu > button > i,
  menu.menubar > li.menu > button > i
  {
    display: block;
    filter: invert(1);
    background-position: center center;
    transition: var(--expand-duration) transform ease-in-out;
  }

  menu.menubar li.menu.drop > button > i,
  menu.menubar > li.menu.drop > button > i
  {
    transform: rotate(90deg);
  }

  menu.menubar li kbd.shortcut
  {
    display: none;
  }

  menu.menubar li.drop > button,
  menu.menubar li.drop > button:hover
  {
    color: var(--mobile-drop-menuitem-color);
    background-color: var(--mobile-drop-menuitem-background);
  }

  menu.menubar li > button:focus,
  menu.menubar li.menu.drop > button:focus
  {
    color: var(--mobile-focused-menuitem-color);
    background-color: var(--mobile-focused-menuitem-background);
  }

  menu.menubar li.separator
  {
    margin: 0;
    color: var(--mobile-separator-color);
  }

  menu.menubar.menu_drop
  {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--fade-duration) linear;
  }

  .menu_button
  {
    display: block;
    padding-left: 24px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 4px center;
    padding-right: 8px;
  }

  .menu_button[aria-expanded=true]
  {
    background-image: url(images/menu_hide.svg);
  }

  .menu_button[aria-expanded=false]
  {
    background-image: url(images/menu_show.svg);
  }
}

/* ContextMenu styles */

menu.contextmenu
{
  animation: fade_in 0.3s;
}