/* outliner.css */

ul.outliner
{
  margin-top: 2px;
}

ul.outliner,
ul.outliner ul,
ul.outliner li
{
  list-style: none;
  margin-left:6px;
  padding-left:0;
  text-align: left;
}

ul.outliner li
{
  background-size: 16px 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  white-space: nowrap;
}

ul.outliner a
{
  margin-left: 18px;
  padding: 1px;
  line-height: 18px;
  vertical-align:middle;
}

ul.outliner a:hover
{
  cursor: pointer;
  animation: item_hover 1s;
  background-color: #C0C0C0;
  color: black;
}

ul.outliner a.selected,
ul.outliner a.selected:hover
{
  background-color: #F0A0A0;
  color: black;
  animation: none;
}

ul.outliner .copy,
ul.outliner .selected.copy
{
  color: blue;
  font-style: italic;
}

ul.outliner .cut,
ul.outliner .selected.cut
{
  color: #C00000;
  font-style: italic;
}

ul.outliner .active_camera
{
  font-weight: bold;
}

ul.outliner .hidden
{
  color:#C0C0C0;
}

ul.outliner .selected.hidden
{
  color:#707070;
}

ul.outliner ul.collapsed
{
  display:none;
}

ul.outliner ul.expanded
{
  visibility:visible;
}

ul.outliner button
{
  padding:0;
  font-size:9px;
  width:9px;
  height:9px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border:none;
  text-align: center;
  margin-left: -11px;
  margin-right: 2px;
  outline: none;
  box-shadow: none;
}

ul.outliner button.collapse
{
  background-image:url(images/collapse.svg);
}

ul.outliner button.expand
{
  background-image:url(images/expand.svg);
}

ul.outliner button:hover
{
  cursor:pointer;
}

/* tree images */

ul.tree li
{
  background-image: url(images/outliner/default.svg);
}

ul.tree li.Group
{
  background-image: url(images/outliner/group.svg)
}

ul.tree li.Solid
{
  background-image: url(images/outliner/solid.svg)
}

ul.tree li.Profile
{
  background-image: url(images/outliner/profile.svg)
}

ul.tree li.Cord
{
  background-image: url(images/outliner/cord.svg)
}

ul.tree li.Mesh
{
  background-image: url(images/outliner/mesh.svg)
}

ul.tree li.Points
{
  background-image: url(images/outliner/points.svg)
}

ul.tree li.Text2D
{
  background-image: url(images/outliner/text2D.svg)
}

ul.tree li.AmbientLight,
ul.tree li.DirectionalLight,
ul.tree li.PointLight,
ul.tree li.AreaLight,
ul.tree li.HemisphereLight,
ul.tree li.SpotLight
{
  background-image: url(images/outliner/light.svg);
}

ul.tree li.PerspectiveCamera,
ul.tree li.OrthographicCamera
{
  background-image: url(images/outliner/camera.svg);
}

ul.tree li.Cloner
{
  background-image: url(images/outliner/cloner.svg);
}

ul.tree li.CircleBuilder,
ul.tree li.CircleHollowBuilder
{
  background-image: url(images/outliner/circle.svg);
}

ul.tree li.RectangleBuilder,
ul.tree li.RectangleHollowBuilder
{
  background-image: url(images/outliner/rectangle.svg);
}

ul.tree li.EllipseBuilder
{
  background-image: url(images/outliner/ellipse.svg);
}

ul.tree li.TrapeziumBuilder
{
  background-image: url(images/outliner/trapezium.svg);
}

ul.tree li.IProfileBuilder
{
  background-image: url(images/outliner/iprofile.svg);
}

ul.tree li.LProfileBuilder
{
  background-image: url(images/outliner/lprofile.svg);
}

ul.tree li.TProfileBuilder
{
  background-image: url(images/outliner/tprofile.svg);
}

ul.tree li.UProfileBuilder
{
  background-image: url(images/outliner/uprofile.svg);
}

ul.tree li.ZProfileBuilder
{
  background-image: url(images/outliner/zprofile.svg);
}


