/*
    Created on : 07-sep-2014, 9:09:03
    Author     : realor
*/

.service_panel
{
  position:absolute;
  top:4px;
  left:4px;
  right:4px;
  bottom:4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.service_panel .header
{
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:22px;
}

.service_panel > .header > .image_button
{
  position:absolute;
  top:0;
  bottom:0;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding:0;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
  cursor: pointer;
  border-radius: 2px;
  background-color: #f6f6f6;
  border:none;
  box-shadow: none;
}

.service_panel > .header > .image_button.home
{
  left:0;
  background-image: url(images/home.svg);
}

.service_panel > .header > .image_button.back
{
  left:24px;
  background-image: url(images/back.svg);
}

.service_panel >.header > .image_button:hover
{
  background-color: #ffb0b0;
}

.service_panel >.header > .image_button:focus
{
  outline:1px dotted black;
}

.service_panel > .header > .directory
{
  position:absolute;
  left:48px;
  right:0;
  top:0;
  bottom:0;
  font-size:13px;
  font-weight:normal;
  text-align: left;
  line-height: 20px;
  padding:1px;
  padding-left: 2px;
  color: #804040;
  border: 1px solid #c0c0c0;
  overflow:hidden;
}

.service_panel > .path_entries
{
  padding-left: 0;
  position: absolute;
  top:24px;
  left:0;
  right:0;
  bottom:52px;
  overflow-y: auto;
  margin-top:0;
  margin-bottom:0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  border:1px solid #c0c0c0;
}

.service_panel > .footer
{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:50px;
}

.service_panel > .footer > .buttons_panel
{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
}

.service_panel .entry
{
  list-style-type: none;
  text-align: left;
}

.service_panel .entry > a
{
  display:block;
  text-decoration: none;
  color: #404040;
  cursor:pointer;
  padding: 2px;
  padding-left: 20px;
  font-size:13px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 1px solid transparent;
}

.service_panel .entry > a:hover
{
  color:black;
  animation: item_hover 1s;
  background-color: #C0C0C0;
  color: black;
}

.service_panel .entry > a:focus
{
  border: 1px dotted black;
  outline:none;
}

.service_panel .entry.service > a
{
  font-weight:bold;
  background-image: url(images/service.svg);
}

.service_panel .entry.collection > a
{
  background-image: url(images/collection.svg);
}

.service_panel .entry.file > a
{
  color: #606060;
  background-image: url(images/file.svg);
}

.service_panel .entry.selected > a,
.service_panel .entry.selected > a:hover
{
  color:black;
  background-color:#F0A0A0;
  animation: none;
}

.bim_inventory_header
{
  text-align: left;
  margin-bottom: 6px;
}

.bim_inventory_header label
{
  margin-right: 4px;
}

.bim_inventory_tabs
{
  text-align: left;
}

.bim_layout_panel
{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  overflow: auto;
  padding: 0;
  border: none;
}

.tool_button.cloud_explorer
{
  background-image: url(images/tools/cloud_explorer.svg);
}

.tool_button.opencloud
{
  background-image: url(images/tools/opencloud.svg);
}

.tool_button.savecloud
{
  background-image: url(images/tools/savecloud.svg);
}

.tool_button.openlocal
{
  background-image: url(images/tools/openlocal.svg);
}

.tool_button.savelocal
{
  background-image: url(images/tools/savelocal.svg);
}

.tool_button.orbit
{
  background-image: url(images/tools/orbit.svg);
}

.tool_button.auto_orbit
{
  background-image: url(images/tools/auto_orbit.svg);
}

.tool_button.fly
{
  background-image: url(images/tools/fly.svg);
}

.tool_button.draw
{
  background-image: url(images/tools/draw.svg);
}

.tool_button.select
{
  background-image: url(images/tools/select.svg);
}

.tool_button.rotate
{
  background-image: url(images/tools/rotate.svg);
}

.tool_button.move
{
  background-image: url(images/tools/move.svg);
}

.tool_button.scale
{
  background-image: url(images/tools/scale.svg);
}

.tool_button.options
{
  background-image: url(images/tools/options.svg);
}

.tool_button.bim_inventory
{
  background-image: url(images/tools/bim_inventory.svg);
}

.tool_button.rebuild
{
  background-image: url(images/tools/rebuild.svg);
}

.tool_button.script
{
  background-image: url(images/tools/script.svg);
}

.tool_button.measure_length
{
  background-image: url(images/tools/measure_length.svg);
}

.tool_button.print
{
  background-image: url(images/tools/print.svg);
}

.tool_button.zoom_all
{
  background-image: url(images/tools/zoom_all.svg);
}

.tool_button.show
{
  background-image: url(images/tools/show.svg);
}

.tool_button.hide
{
  background-image: url(images/tools/hide.svg);
}

.tool_button.paint
{
  background-image: url(images/tools/paint.svg);
}

.tool_button.center_selection
{
  background-image: url(images/tools/center_selection.svg);
}

.tool_button.focus_selection
{
  background-image: url(images/tools/focus_selection.svg);
}

.tool_button.bim_layout
{
  background-image: url(images/tools/bim_layout.svg);
}

.tool_button.new_scene
{
  background-image: url(images/tools/new_scene.svg);
}

.tool_button.outliner
{
  background-image: url(images/tools/outliner.svg);
}

.tool_button.inspector
{
  background-image: url(images/tools/inspector.svg);
}

.tool_button.statistics
{
  background-image: url(images/tools/statistics.svg);
}

.tool_button.section
{
  background-image: url(images/tools/section.svg);
}

div.row
{
  margin-top:2px;
  margin-bottom:2px;
  padding: 3px;
}

div.row > label
{
  margin-right: 2px;
}

div.option_block
{
  margin-top:3px;
  margin-bottom:3px;
  border-bottom: 1px solid #d0d0d0;
  padding: 4px;
}

div.option_block label,
div.option_block input[type=checkbox]
{
  vertical-align: middle;
}

div.option_block.inline label
{
  margin-right: 4px;
}

div.option_block.stack label
{
  display: block;
  margin-bottom: 2px;
}

div.option_block input.back_color
{
  vertical-align: middle;
  margin-left: 4px;
  padding: 0px;
}

div.option_block input[name=decimals]
{
  width: 60px;
}

.panel_section > .body > div
{
  margin-top: 10px;
}

.panel_section input[name=section_color]
{
  margin-left: 4px;
  vertical-align: middle;
}

.panel_section input[name=section_offset]
{
  margin-left: 4px;
  width: 80px;
}

.script_box
{
}

.script_box textarea
{
  font-family: monospace;
  font-size: 14px;
  color: #404040;
  box-sizing:border-box;
  width: 100%;
  height: 300px;
}

.controller_list li
{
  list-style-type: none;
  margin:6px 3px 6px 3px;
}

.controller_list li label
{
  display: block;
  vertical-align: middle;
}

.controller_list li input
{
  display: inline-block;
  vertical-align: text-bottom;
}

.controller_list li span
{
  display: inline-block;
  vertical-align: middle;
}

.controller_list li span.type
{
  color: #806060;
  margin-right: 4px;
}

.dialog .body div.script_name > label
{
  display: inline-block;
  width: 80px;
}

.dialog .body div.script_name > input[type=text]
{
  display: inline-block;
  width: calc(100% - 80px);
}

div.script_code
{
  position: absolute;
  top: 30px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 1px solid gray;
  overflow: auto;
  font-size: 14px;
}

.fly_panel
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fly_panel .keypad
{
  position: relative;
  --button_size: 16px;
  --button_margin: 4px;
  --cell_size: calc(var(--button_size) + 2 * var(--button_margin));
  --side_margin: 10px;

  width: 100%;
  height: calc( 3 * var(--cell_size));
}

.fly_panel .keypad .leftWheel
{
  position: absolute;
  left: var(--side_margin);
  top: 0;
  width: calc(3 * var(--cell_size));
  height: calc(3 * var(--cell_size));
  border: 1px solid black;
  border-radius: calc(3 * var(--cell_size));
}

.fly_panel .keypad .pitchPanel
{
  left: calc(50% - var(--cell_size) / 2);
  top: var(--cell_size);
  position: absolute;
  width: calc(1 * var(--cell_size));
  height: calc(2 * var(--cell_size));
  border: 1px solid black;
  border-radius: calc(var(--cell_size));
}

.fly_panel .keypad .rightWheel
{
  right: var(--side_margin);
  top: 0;
  position: absolute;
  width: calc(3 * var(--cell_size));
  height: calc(3 * var(--cell_size));
  border: 1px solid black;
  border-radius: calc(3 * var(--cell_size));
}

.fly_panel button
{
  position: absolute;
  width: var(--button_size);
  height: var(--button_size);
  border: 1px solid #808080;
  border-radius: var(--button_size);
  font-size: 9px;
  background-color: white;
  color: black;
  margin:0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
}

.fly_panel .keypad .stick
{
  --stick_size: 24px;
  width: var(--stick_size);
  height: var(--stick_size);
  border-radius: var(--stick_size);
  position: absolute;
  background-color: #e0e0e0;
  background-size: 80% 80%;
  background-position: center center;
  background-repeat: no-repeat;
  border : 1px solid transparent;
  box-sizing: border-box;
  touch-action: none;
}

.fly_panel .keypad .leftWheel .stick
{
  top: calc(50% - 0.5 * var(--stick_size));
  left: calc(50% - 0.5 * var(--stick_size));
  background-image: url(images/tools/fly_drone_front.svg);
  touch-action: none;
}

.fly_panel .keypad .rightWheel .stick
{
  top: calc(50% - 0.5 * var(--stick_size));
  left: calc(50% - 0.5 * var(--stick_size));
  background-image: url(images/tools/fly_drone_top.svg);
  touch-action: none;
}

.fly_panel.stick .leftWheel button,
.fly_panel.stick .rightWheel button
{
  display: none;
}

.fly_panel.stick .stick
{
  border-color : #404040;
}

.fly_panel button:active,
.fly_panel button.pressed
{
  background-color: #FF8080;
}

.fly_panel button.forward
{
  left: calc(1 * var(--cell_size) + var(--button_margin));
  top : calc(0 * var(--cell_size) + var(--button_margin));
  background-image: url(images/tools/fly_forward.svg);
}

.fly_panel button.backward
{
  left: calc(1 * var(--cell_size) + var(--button_margin));
  top : calc(2 * var(--cell_size) + var(--button_margin));
  background-image: url(images/tools/fly_backward.svg);
}

.fly_panel button.rotateLeft
{
  left: calc(0 * var(--cell_size) + var(--button_margin));
  top : calc(1 * var(--cell_size) + var(--button_margin));
  background-image: url(images/tools/fly_left.svg);
}

.fly_panel button.rotateRight
{
  left: calc(2 * var(--cell_size) + var(--button_margin));
  top : calc(1 * var(--cell_size) + var(--button_margin));
  background-image: url(images/tools/fly_right.svg);
}

.fly_panel button.ascend
{
  left: calc(1 * var(--cell_size) + var(--button_margin));
  top : calc(0 * var(--cell_size) + var(--button_margin));
}

.fly_panel button.descend
{
  left: calc(1 * var(--cell_size) + var(--button_margin));
  top : calc(2 * var(--cell_size) + var(--button_margin));
}

.fly_panel button.moveLeft
{
  left: calc(0 * var(--cell_size) + var(--button_margin));
  top : calc(1 * var(--cell_size) + var(--button_margin));
}

.fly_panel button.moveRight
{
  left: calc(2 * var(--cell_size) + var(--button_margin));
  top : calc(1 * var(--cell_size) + var(--button_margin));
}

.fly_panel button.lookUp
{
  left: calc(0 * var(--cell_size) + var(--button_margin));
  top : calc(0 * var(--cell_size) + var(--button_margin));
}

.fly_panel button.lookDown
{
  left: calc(0 * var(--cell_size) + var(--button_margin));
  top : calc(1 * var(--cell_size) + var(--button_margin));
}

.fly_panel button.options
{
  --options_button_size : 20px;
  left: calc(50% - var(--options_button_size) / 2 + 1px);
  top: 0;
  width: var(--options_button_size);
  height: var(--options_button_size);
  background-image: url(images/tools/fly_options.svg);
  border: none;
}

.fly_options input[name=ground]
{
  margin-left: 4px;
  margin-right: 4px;
  width: 60px;
}

.inspect_geometry ul.tree .selected
{
  background-color: #FFA0A0;
  color: black;
}

.inspect_geometry ul.tree li.face
{
  background-image: url(images/geometry/loop.svg);
}

.inspect_geometry ul.tree li.face.holes
{
  background-image: url(images/geometry/face.svg);
}

.inspect_geometry ul.tree li.loop
{
  background-image: url(images/geometry/loop.svg);
}

.inspect_geometry ul.tree li.hole
{
  background-image: url(images/geometry/hole.svg);
}

.inspect_geometry ul.tree li.vertex
{
  background-image: url(images/geometry/vertex.svg);
}

.inspect_geometry ul.tree li.normal
{
  background-image: url(images/geometry/normal.svg);
}

.inspect_geometry ul.summary
{
  text-align: left;
  padding-left: 4px;
  margin-bottom: 0;
}

.inspect_geometry ul.summary li
{
  text-align: left;
  list-style-type: none;
}

.inspect_geometry table.data a
{
  text-decoration: none;
  padding: 0 5px 0 5px;
  border-radius: 2px;
  color: blue;
}

.inspect_geometry table.data a:hover
{
  background-color: #e0e0e0;
}

.property_selector_scroll
{
  height: 40%;
  overflow: auto;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  padding: 4px;
}

.property_selector_tree .selected
{
  background-color: #F0A0A0;
}

.property_selector_tree li.property_set
{
  background-image: url(images/collection.svg);
}

.property_selector_tree li.string
{
  background-image: url(images/inspector/string.svg);
  color: blue;
}

.property_selector_tree li.boolean
{
  background-image: url(images/inspector/boolean.svg);
  color: #008000;
}

.property_selector_tree li.number
{
  background-image: url(images/inspector/number.svg);
}

.property_selector_tree li.string a
{
  color: #0000ff;
}

.property_selector_tree li.boolean a
{
  color: #008080;
}

.property_selector_tree li.number a
{
  color: #404040;
}

.property_selector_toolbar
{
  height: 30px;
  min-height: 30px;
  text-align: center;
}

.property_selector_toolbar button
{
  min-width: 24px;
}
