services:
  bimrocket-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    image: bimrocket-server
    container_name: bimrocket-server
    restart: always
    environment:
      - BIMROCKET_DATA_PATH=/root/bimrocket
      - BIMROCKET_DATABASE_CONNETION=mongodb://root:mongodb@mongodb:27017
      - BIMROCKET_DATABASE_PARAMETERS=authSource=admin
      - BIMROCKET_SERVICES_FILE_STORE_AZURE_CONNECTION-STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFeqCnb3w==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
    ports:
      - "9090:8080"
    volumes:
      - ./application.mongodb.yaml:/root/bimrocket/bimrocket-server.yaml
    networks:
      - bimrocket_network
 
  mongodb:
    image: mongo:8.0.13
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mongodb
    volumes:
      - mongodb_databases:/data/db
      - mongodb_config:/data/configdb
    networks:
      - bimrocket_network

  azurite:
      image: mcr.microsoft.com/azure-storage/azurite
      container_name: azurite
      ports:
        - "10000:10000"
      command: "azurite-blob --blobHost 0.0.0.0 --loose  --location /data"
      volumes:
        - azurite_data:/data
      restart: always
      environment:
        - AZURITE_ACCOUNTS=devstoreaccount1:Eby8vdM02xNOcqFeqCnb3w==
      networks:
        - bimrocket_network

  azure-cli:
    image: mcr.microsoft.com/azure-cli
    container_name: azure-cli
    stdin_open: true
    tty: true
    restart: always
    depends_on:
      - azurite
    networks:
      - bimrocket_network

volumes: 
  azurite_data:
  mongodb_databases:
  mongodb_config:

networks:
  bimrocket_network:
    driver: bridge