/* Dialog */

:root
{
  --dialog-color: var(--text-color);
  --dialog-background: var(--surface-ground);
  --dialog-border-radius: 16px;
  --dialog-padding: 6px;
  --dialog-border-color: var(--color-3);
  --dialog-border-style: none;
  --dialog-border-width: 0;
  --dialog-header-background: transparent;
  --dialog-shadow: var(--box-shadow-2);
  --dialog-margin: 12px;
  --dialog-button-background: var(--surface-3);
}

.dialog
{
  padding: var(--dialog-padding);
  color: var(--dialog-color);
  background-color: var(--dialog-background);
  border-radius: var(--dialog-border-radius);
  border-color: var(--dialog-border-color);
  border-style: var(--dialog-border-style);
  border-width: var(--dialog-border-width);
  z-index: 10001;
  border-radius: var(--dialog-border-radius);
  -webkit-box-shadow: var(--dialog-shadow);
  -moz-box-shadow: var(--dialog-shadow);
  box-shadow: var(--dialog-shadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - var(--dialog-padding) * 2 - var(--dialog-margin) * 2);
  max-height: calc(100% - var(--dialog-padding) * 2 - var(--dialog-margin) * 2);
  animation-name: fade_in_dialog;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  transition: width 0.2s, height 0.2s;
}

.dialog.maximized
{
  width: 100%;
  height: 100%;
}

div.dialog.maximized > .header > button.maximize
{
  display: none;
}

div.dialog.maximized > .header > button.minimize
{
  display: block;
}

div.dialog > .header > button.minimize
{
  display: none;
}

.dialog_curtain
{
  z-index: 10000;
  opacity: 0;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  animation: fade_in_curtain;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dialog > .header
{
  flex-grow: 0;
  padding: 1px;
  flex-wrap: wrap;
  _border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.dialog .body
{
  flex-grow: 1;
  overflow:auto;
  padding: 6px;
}

.dialog .body form
{
  display: flex;
  flex-direction: column;
}

.dialog > .footer
{
  flex-grow: 0;
  flex-wrap: wrap;
  padding: 4px;
  display: flex;
  _border-top: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.dialog > .footer button
{
  min-width: 80px;
}

div.dialog > .header > .title
{
  flex-grow: 1;
  text-align: center;
}

div.dialog > .header > .title > a
{
  -webkit-user-drag: none;
}

div.dialog > .header > button
{
  display: flex;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  margin: 4px;
  padding:0;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--panel-button-background);
  border:none;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}

div.dialog > .header > button > svg
{
  width: 10px;
  height: 10px;
  stroke: var(--text-color);
  stroke-width: 2px;
}

div.dialog > .header > button:hover
{
  background-color: var(--primary-color);
}

div.dialog > .header > button:hover > svg
{
  stroke: var(--primary-text-color);
}

.dialog .body > div
{
  margin-top: 4px;
}

.dialog .body > div > input[type='text'],
.dialog .body > div > input[type='password']
{
  width:100%;
  box-sizing: border-box;
}

.dialog .body .text_field,
.dialog .body .select_field,
.dialog .body .radio_buttons
{
  width: 100%;
  box-sizing: border-box;
}

.dialog .body .select_field select
{
  width: 100%;
  box-sizing: border-box;
}

.dialog .body .list_field select
{
  -webkit-appearance:none;
  -moz-appearance: none;
  width: 100%;
  box-sizing: border-box;
}

.dialog .body .text_field label,
.dialog .body .select_field label
{
  display: block;
}

.dialog .body .checkbox_field label,
.dialog .body .checkbox_field input
{
  vertical-align: middle;
}

.dialog .body div input,
.dialog .body div select
{
  margin-top:2px;
}

.dialog .body pre
{
  width: 100%;
  color: black;
  margin:0;
  box-sizing: border-box;
}

.dialog .body .code > input[type=text]
{
  font-family: monospace;
  font-size: 13px;
  color: #404040;
}

.dialog .body span.row
{
  display:block;
  text-align: left;
}

.dialog .body .radio_buttons > input[type='radio']
{
  float: left;
  clear: both;
  line-height: 20px;
}

.dialog .body .radio_buttons > label
{
  float: left;
  line-height: 20px;
  margin-left: 2px;
}

.dialog .footer > button
{
  margin-left:4px;
  margin-right:4px;
}

.dialog .body.confirm,
.dialog .body.info,
.dialog .body.error
{
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  user-select: text;
  white-space: pre-wrap;
}

.dialog .body.confirm span,
.dialog .body.info span,
.dialog .body.error span
{
  margin-top:auto;
  margin-bottom: auto;
  user-select: text;
}

.dialog .body.error span
{
  color: var(--error-color);
}

.dialog .body.confirm span
{
  color: var(--text-color);
}

.dialog .error
{
  color: var(--error-color);
}

.dialog .block
{
  display: block;
  text-align: center;
}

.dialog div.console
{
  font-family: monospace;
  font-size: 14px;
  color: #404040;
  border: 1px solid #C0C0C0;
  border-radius: 2px;
  padding: 2px 4px 2px 2px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  flex-grow: 1;
  max-height: 25%;
}

.dialog div.console *
{
  user-select: text;
}

.dialog div.console div.info
{
  color: var(--info-color);
}

.dialog div.console div.warn
{
  color: var(--warn-color);
}

.dialog div.console div.error
{
  color: var(--error-color);
}

.dialog .oauth_buttons
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  & div
  {
    text-align: center;
    margin-bottom: 4px;
  }

  & button.oauth_logo_btn
  {
    color: #C00000;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    & img
    {
      max-height: 32px;
    }
  }
}

@keyframes fade_in_dialog
{
  0% { opacity: 0; visibility: visible; }
  100% { opacity: 1; }
}

@keyframes fade_in_curtain
{
  0% { opacity: 0; visibility: visible; }
  100% { opacity: 0.2; }
}

