/* inspector.css */

div.inspector-card
{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.inspector-card.list
{
  height: auto;
}

div.inspector-toolbar
{
  border-bottom: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--border-color);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.inspector-properties
{
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
  overflow: auto;
}

div.inspector-properties .tabbed-pane > .body
{
  min-height: 0px;
}

ul.inspector
{
  margin-top: 2px;
  margin-left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
}

ul.inspector ul
{
  list-style: none;
  margin-left:0px;
  padding-left:0;
  text-align: left;
}

ul.inspector li
{
  list-style: none;
  margin-left:0px;
  padding-left:0;
  text-align: left;
}

ul.inspector ul.expanded
{
  visibility: visible;
}

ul.inspector ul.collapsed
{
  display :none;
}

ul.inspector li.section
{
  padding: 2px;
  margin-left: 0;
  color: #202020;
  white-space: nowrap;
  background-image: none;
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-2);
  margin-top: 8px;
  margin-bottom: 8px;
}

ul.inspector li.section li.section
{
  padding-left: 8px;
}

ul.inspector li.section > div
{
  text-align: left;
  color: var(--text-color);
  padding: 3px 6px;
  cursor: pointer;
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
}

ul.inspector li.section > div > .section-name
{
  font-weight: bold;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}

ul.inspector li.section > div::after
{
  content: "";
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  mask-position: center center;
  mask-image: url(../icons/inspector.svg#chevron);
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--text-color);
  transition: transform 0.2s;
}

ul.inspector li.section > div:focus
{
  outline: none;
}

ul.inspector li.section > div.collapse::after
{
  transform: rotate(180deg);
}

ul.inspector li.section.controller.started > div > .section-name::after
{
  content: ' ';
  width: 10px;
  height: 10px;
  border: 1px solid var(--surface-4);
  border-top-color: var(--text-color);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  animation: controller_running 4s steps(16) infinite;
  margin-left: 4px;
}

div.inspector-toolbar > button
{
  padding: 0px;
  margin: 4px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px;
}

div.inspector-toolbar > div
{
  margin: 4px;
}

.inspector-properties .tabbed-pane .header > div
{
  padding: 6px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inspector-properties .tabbed-pane .header > div::before
{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: var(--text-color);
}

.inspector-properties .tabbed-pane .header > div.object::before
{
  mask-image: url(../icons/inspector.svg#object_tab);
}

.inspector-properties .tabbed-pane .header > div.geometry::before
{
  mask-image: url(../icons/inspector.svg#geometry_tab);
}

.inspector-properties .tabbed-pane .header > div.material::before
{
  mask-image: url(../icons/inspector.svg#material_tab);
}

.inspector-properties .tabbed-pane .header > div.builder::before
{
  mask-image: url(../icons/inspector.svg#builder_tab);
}

.inspector-properties .tabbed-pane .header > div.userdata::before
{
  mask-image: url(../icons/inspector.svg#userdata_tab);
}

.inspector-properties .tabbed-pane .header > div.formulas::before
{
  mask-image: url(../icons/inspector.svg#formula_tab);
}

.inspector-properties .tabbed-pane .header > div.controllers::before
{
  mask-image: url(../icons/inspector.svg#controllers_tab);
}

.inspector-properties .tabbed-pane .header > div.featured::before
{
  mask-image: url(../icons/inspector.svg#featured_tab);
}

.inspector-properties .tabbed-pane .header > div.links::before
{
  mask-image: url(../icons/inspector.svg#links_tab);
}

ul.inspector li.property
{
  display: flex;
  white-space:normal;
  vertical-align: middle;
  margin-top: 3px;
  margin-bottom: 3px;
}

ul.inspector li.property > div
{
  display: inline-block;
  margin-left: 6px;
}

ul.inspector li.property .label
{
  text-align: left;
  color: var(--label-text-color);
  line-height: 18px;
  vertical-align: middle;
  text-decoration: none;
}

ul.inspector li.property > div > .label:focus
{
  outline-style: dotted;
  outline-color: var(--border-color);
  outline-offset: 1px;
  outline-width: 1px;
}

ul.inspector li.property .value.disabled
{
  color: var(--disabled-text-color);
}

ul.inspector li.property .value
{
  text-align: left;
  margin-left: 4px;
  vertical-align: middle;
  color: var(--text-color);
  text-decoration: none;
  word-break: break-all;
}

ul.inspector li.property a.value:hover
{
  text-decoration: underline;
}

ul.inspector li.property a.value:focus
{
  outline-style: dotted;
  outline-color: var(--border-color);
  outline-offset: 1px;
  outline-width: 1px;
}

ul.inspector li.property .value input[type=checkbox]
{
  vertical-align: middle;
  margin: 0;
}

ul.inspector li.property.editable .label
{
  cursor: pointer;
}

ul.inspector li.property.editable .value
{
  color: var(--text-color);
  cursor: pointer;
}

ul.inspector li.property::before
{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 20px;
  mask-image: url(../icons/inspector.svg#default);
  background-color: var(--text-color);
  flex-shrink: 0;
}

ul.inspector li.property.string::before
{
  mask-image: url(../icons/inspector.svg#string);
  background-color: var(--string-color);
}

ul.inspector li.property.number::before
{
  mask-image: url(../icons/inspector.svg#number);
  background-color: var(--number-color);
}

ul.inspector li.property.boolean::before
{
  mask-image: url(../icons/inspector.svg#boolean);
  background-color: var(--boolean-color);
}

ul.inspector li.property.vector::before
{
  mask-image: url(../icons/inspector.svg#vector);
}

ul.inspector li.property.euler::before
{
  mask-image: url(../icons/inspector.svg#euler);
}

ul.inspector li.property.color::before
{
  mask-image: url(../icons/inspector.svg#color);
}

ul.inspector li.property.array::before
{
  mask-image: url(../icons/inspector.svg#array);
}

ul.inspector li.property.formula::before
{
  mask-image: url(../icons/inspector.svg#formula);
}

ul.inspector li.property.texture::before
{
  mask-image: url(../icons/inspector.svg#texture);
}

ul.inspector li.property.color > div span.value
{
  margin-right: 2px;
  vertical-align: middle;
}

ul.inspector li.property.color > div span.value > span
{
  vertical-align: middle;
}

ul.inspector li.property.color > div span.value > .color
{
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid var(--border-color);
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
}

ul.inspector li.property ul.list_3 li
{
  margin: 3px 0px 3px 0px;
}

ul.inspector li.property ul.list_3 li label
{
  display: inline-block;
  width:16px;
}

ul.inspector li.property ul.list_3 li input
{
  width:160px;
}

div.inspector-info
{
  margin-top: 2px;
  margin-left: 4px;
  text-align: left;
}

/*ul.inspector-list
{
  margin-top: 4px;
  margin-left: 4px;
  padding-left:0;
  text-align: left;
  list-style-type:none;
}*/

@keyframes controller_running
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}